form{
    margin: 20px;
    width: 70%;
}
.row{
    margin-bottom: 10px;
}
#btnshow{
    position: relative;
    top: -130px;
}
#btnhide{
    position: relative;
    top: 0px;
}
.field{
    width: 40%;
    margin: 5px;
}
#rec{
    height: 300;
    display: inline-block;
}